/*
   block element ដែលបានកំណត់ទទឹង និង ឱ្យតម្លៃ auto ទៅ margin-left និង 
   margin-right ថិតចំកណ្តាលដោយស្វយប្រវត្ត។
*/
#t{width:6rem; height: 3.5rem; padding-top: 2.5rem; border-radius: 50px;
      text-align: center; background-color: lightgray; margin: 8px auto;}